@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --w-page-max-: 1000px;
    --w-ninty-five-: 95%;

    --clr-black: #000000;
    --clr-white-100: #FFFFFF;
    --clr-white-50: #B0B0B0;
    --clr-purple-100: #4D47C3;
    --clr-purple-75: #A7A3FF;
    --clr-purple-50: #F0EFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.d-none {
    display: none !important;
}

.v-hidden {
    visibility: hidden;
}

img {
    width: 100%;
    display: block;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.sections-wrapper {
    max-width: var(--w-page-max-);
    width: var(--w-ninty-five-);
    display: flex;
    gap: 36px;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    width: var(--w-ninty-five-);
    display: flex;
    flex-direction: column;
}

.left-section-top {
    margin-bottom: 36px;
}

.left-section-bottom-p {
    margin-bottom: 5px;
}

.left-section-top h1 {
    color: var(--clr-black);
    font-size: 3.125rem;
    font-weight: 600;
}

.left-section-top h2 {
    color: var(--clr-black);
    font-size: 1.65rem;
    font-weight: 500;
}

.purple-text {
    color: var(--clr-purple-100);
    cursor: pointer;
}

.bg-img {
    margin-top: -50px;
    width: 220px;
    align-self: flex-end;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 370px;
    width: var(--w-ninty-five-);
}

.third-party-text {
    text-align: center;
    color: var(--clr-white-50);
    font-size: 1rem;
    font-weight: 500;
}

.third-party-sign-in {
    display: flex;
    justify-content: center;
    gap: 20.73px;
}

.third-party-sign-in img {
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    outline: none;
}

.sign-in-head {
    color: var(--clr-black);
    font-size: 1.875rem;
    font-weight: 500;
}

.email-input input {
    margin-bottom: 10px;
}

.forget-pass-text {
    text-align: end;
    color: var(--clr-white-50);
    font-size: 0.8125rem;
    cursor: pointer;
    margin-bottom: 18px;
    margin-top: 17px;
}

.form-input {
    padding: 20px 50px 20px 26px;
    color: var(--clr-purple-100);
    font-size: 0.9375rem;
    width: 100%;
    border-radius: 8px;
    background: var(--clr-purple-50);
    outline: none;
    border: none;
}

.password-input {
    position: relative;
}

.password-input img {
    position: absolute;
    top: 31.5px;
    right: 20px;
    width: 22px;
    transform: translateY(-50%);
    cursor: pointer;
}

.pass-donot-match {
    color: #D9183B !important;
    font-size: 0.8125rem;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: -16px;
}

.register-btn {
    margin-top: 10px;
}

.right-section button {
    padding: 18px;
    width: 100%;
    border-radius: 8px;
    background: var(--clr-purple-100);
    box-shadow: 0px 4px 31px 0px rgba(77, 71, 195, 0.40);
    border: none;
    outline: none;
    color: var(--clr-white-100);
    margin-bottom: 9px;
    cursor: pointer;
}

.red-bg {
    background-color: #ffdfe6;
}

.email-window {
    position: absolute;
    width: 90%;
    max-width: 350px;
    background-color: #ffffff;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #00000038;
    border: 1.85px solid var(--clr-white-50);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    z-index: 1;
}

.email-window .icon {
    width: 50px;
}

.email-window p {
    text-align: center;
}

@media (width < 785px) {
    .container {
        align-items: flex-start;
    }

    .sections-wrapper {
        flex-direction: column;
        justify-content: center;
        margin: 42px 0;
    }

    .third-party-sign-in {
        margin-bottom: 42px;
    }

    .left-section {
        max-width: 370px;
    }

    .bg-img {
        display: none;
    }

    .sign-in-head {
        display: none;
    }
}

@media (height<800px) {
    .container {
        align-items: flex-start;
    }

    .sections-wrapper {
        margin: 42px 0;
    }

    .third-party-sign-in {
        margin-bottom: 42px;
    }
}

.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-main-section {
    margin: 48px 0;
    width: 95%;
    max-width: 1250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}

.create-post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 400px;
    outline: none;
}

.create-post-section h1 {
    font-size: 36px;
}

.create-post-section textarea {
    resize: none;
}

.post-btn {
    padding: 20px 0;
    font-weight: 500;
    color: var(--clr-purple-50);
    font-size: 0.9375rem;
    width: 100%;
    border-radius: 8px;
    background: var(--clr-purple-100);
    outline: none;
    border: none;
    cursor: pointer;
}

.create-post-section *:not(.post-btn):focus {
    outline: 1px solid var(--clr-purple-75);
}

.post-section {
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post {
    width: 100%;
    background-color: #22222215;
    border-radius: 16px;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post h1 {
    font-size: 30px;
    outline: none;
}

.post p {
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    outline: none;
}

.post-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.post-btn-wrapper button {
    flex: 1;
    padding: 10px 0;
    font-weight: 500;
    color: var(--clr-white-100);
    font-size: 0.9375rem;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    min-width: 150px;
}

.edit-btn {
    background-color: var(--clr-purple-100);
}

.delete-btn {
    background-color: #D9183B;
}

.log-out-btn {
    padding: 20px 0;
    font-weight: 500;
    color: var(--clr-purple-50);
    background-color: var(--clr-purple-100);
    font-size: 0.9375rem;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(10%, 33%);
}